.button {
  border-radius: 5px;
  border: 3px solid currentColor;
  color: #4A90E2;
  display: inline-block;
  font-weight: 600;
  padding: 1em 2em;
  text-decoration: none;
}

.button:hover {
  background-color: #4A90E2;
  color: #fff;
  border-color: #4A90E2;
}
